PORT=4000
DB_USER=sa
DB_PASSWORD=sua_senha_aqui
DB_SERVER=localhost
DB_DATABASE=ExpedicaoDB
JWT_SECRET=sua_chave_secreta_jwt_aqui

VAPID_PUBLIC_KEY=sua_chave_vapid_publica_aqui
VAPID_PRIVATE_KEY=sua_chave_vapid_privada_aqui
VAPID_SUBJECT=mailto:seu_email@exemplo.com

NODE_TLS_REJECT_UNAUTHORIZED=0
